main{

    .container-fluid{
        min-height: calc(100vh - 147.19px);
        background: linear-gradient(45deg, black, transparent);
    }
    .card{
        min-height: 210px;
        background-color: rgba(255, 255, 255, 0.6);
        transition: transform .3s;
        position: relative;
        
        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgb(161, 161, 161);
            opacity: 0;
            margin: 0;
            transition: opacity .3s;
            color: white;
        }
    }


    .card:hover{
        transform: scale(1.1);

        .overlay{
            opacity: 1;
        }


    }
}